.article {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.articleContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.articleContent h1 {
    align-self: center;
}

.articleText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleText p:nth-child(2) {
    font-size: 1.5rem;
    color: #666;
}

.articleImage {
    width: 100%;
    object-fit: cover;
    height: auto;
}